{
  "tabWidth": 2,
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/*.{json,ts,js}",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.{md}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
